@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

/*--Cuerpo-----------------------------------------------------*/

body{
	background-color: #F2F2F2;
	font-family:Arial, Helvetica, sans-serif;
}

/*--Barra login-----------------------------------------------------*/

.barra_login{ 					/* Contenedor de todo el banner*/
	width: 960px;
	height: 14px;
	font-size: 13px;
	font-weight: 300;
	margin:0 auto 0 auto;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: right;	
	color: #a6b3b3;
}

.barra_login a{
	text-decoration: none;
	color: #a6b3b3;
}			

.barra_login a:link { /* Link no visitado*/
	text-decoration:none; 
	} 

.barra_login a:visited { /*Link visitado*/
	text-decoration:none; 
	} 

.barra_login a:active {/*Link activo*/
	text-decoration:none; 
	background:#A6B3B3;
	} 

.barra_login a:hover { /*Mause sobre el link*/
	text-decoration:underline; 
	} 


/*--banner-----------------------------------------------------*/

.banner{ 					/* Contenedor de todo el banner*/
	width: 960px;
	height: 80px;
	font-size: 13px;
	font-weight: 300;
	margin:0 auto 0 auto;
	text-align: center;	
}

	.logo{						/* Seccion del logo*/
		display:table-cell;
		float: left;
		width: 480px;
		height: 80px;
		vertical-align: middle;
		text-align:left;
	}

	.buscador{							/* Contenedor de todo el buscador*/
		float: right;
		width: 480px;
		height: 40px;
		text-align:right;
	}

		.buscador .texto{ 
		   font-size: 15px; 
		   font-family: Arial, san-serif;
		   width: 300px;
		   border: 1px solid;
		   -moz-border-radius: 5px; 
		   -webkit-border-radius: 5px; 
		   border-radius: 5px;
		   margin-bottom: 25px; 
		   padding: 5px;   
		} 

		.buscador .texto:focus{ 
		   background-color: #E5E6E7;  
		} 
	 
		.boton_busqueda{

		}

	.contenedor_menu_banner{					/* Contenedor del menu*/
		float: right;
		display:table;
		width: 480px;
		height: 30px;
	}

		.menu_banner{
			display:table-cell;
			vertical-align: middle;
			width: 110px;
			height: 26px;
			border: 2px solid;	
			background-color: #66DDFF;	
			border-color: #F2F2F2;		
		}

			.menu_banner:hover{
				background: #A6B3B3;
			}

/*--Footer-----------------------------------------------------*/

.derechos{ 
	margin:0 auto 0 auto;
	text-align: center;
	width: 960px; 
	height: 40px; 
	background-color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;	
	}

	.sub_derechos{
		float: left;
		text-align: center;
		color: #A6B3B3;
		width: 240px;
		height: 40px;
		margin-top: 10px;
	}

	.sub_derechos a{
		font-weight: bold;
		text-decoration: none;
		color: #A6B3B3;
	}

/*--contenido_generico-----------------------------------------------------*/

.contenido{
	width: 960px;		
	margin:0 auto 0 auto;
	background-color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
}

a.blanco{ /* Link no visitado*/
	text-decoration:none; 
	color: #FFFFFF;
} 				

a.blanco:link { /* Link no visitado*/
	text-decoration:none; 
	} 

a.blanco:visited { /*Link visitado*/
	text-decoration:none; 
	} 

a.blanco:active {/*Link activo*/
	text-decoration:none; 
	background:#A6B3B3;
	} 

a.blanco:hover { /*Mause sobre el link*/
	text-decoration:underline; 
	} 


/*----------*/

a.azul{ /* Link no visitado*/
	text-decoration:none; 
} 				

a.azul:link { /* Link no visitado*/
	text-decoration:none; 
	} 

a.azul:visited { /*Link visitado*/
	text-decoration:none; 
	color: #666666;	
	} 

a.azul:active {/*Link activo*/
	text-decoration:none; 
	} 

a.azul:hover { /*Mause sobre el link*/
	text-decoration:none; 
	color: #FFFFFF;	
	} 


.slideshow{
	width: 960px;
	height: 388px;
}

.slideshow_fijo{
	max-width: 960px;
}

/*--Login-----------------------------------------------------*/

.contenido .login{
	width: 400px;
	height: 250px;
	border-radius: 20px;
	margin:0 auto 0 auto;
	border: 3px solid;
	border-color: #6699B3;
	text-align: center;
}

.contenido .login .cintilla{
	height: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #666666; 
	padding: 10px;
	border-bottom: 3px solid;
	border-color: #6699B3;
}

.contenido .login input,       
.contenido .login  label { 
	font-size: 15px; 
	margin-bottom: 2px;
	font-family: Arial, sans-serif;		   
} 

.contenido .login label{
	width: 80px;
	text-align: left;
}

.login #username, 
.login #password{ 
	width: 380px;
	background: #fff;
	border: 1px solid;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	margin-bottom: 10px; 
	padding: 3px; 
	border-color: #666666;
} 	  

.login input:focus { 
	background-color: #E5E6E7;
} 

	.login .boton { 	
		font-size: 13px;
		font-weight: 900;
		padding-top: 5px;
		padding-bottom: 5px;
		width: 180px;
		height: 30px;
		border: 2px solid;	
		border-radius: 5px;	
		color: #FFFFFF;	
		background-color: #66DDFF;	
		border-color: #66DDFF;
		margin:0 auto 0 auto;
	} 
		 
	.login-form .boton:hover { 
		background: #6699B3;
		border-color: #6699B3;		  
	}

a.olvidePass{
	text-decoration:none;
	color: #666666;	
	font-size: 10px;
}

a.olvidePass{ /* Link no visitado*/
	text-decoration:none; 
} 				

a.olvidePass:link { /* Link no visitado*/
	text-decoration:none; 
	} 

a.olvidePass:visited { /*Link visitado*/
	text-decoration:none; 
	color: #666666;	
	} 

a.olvidePass:active {/*Link activo*/
	text-decoration:none; 
	} 

a.olvidePass:hover { /*Mause sobre el link*/
	text-decoration:underline; 
	color: #000000;	
	} 

/*--contenido index-----------------------------------------------------*/


	.contenido .modulos{
		width: 470px;
		height: 400px;
		float: left;
		border: 5px;
		border-style: solid;	
		border-color: #F2F2F2;	
		background-color: #ffffff;
		text-align: center;		
	}

		.contenido .modulos .titulo{
			width: 100%;			
			height: 50px;	
			font-size: 36px;
			font-weight: 900;
			color:#666666;	
			padding-top: 10px;			
		}

		.contenido .modulos .imagen{	
			margin-top: 50px;
			width: 470px;				
			height: 140px;
		}

		.contenido .modulos .descripcion{	
			display: block;
			font-size: 14px;	
			text-align: left;
			color: #A6B3B3;				
			width: 430px;				
			height: 80px;
			margin: 15px;
		}

		.contenido .modulos .descripcion hr{				
			width: 100%;				
			height: 1px;
			border: 1px;
			border-style: solid;
			border-color: #A6B3B3;	
			background-color: #A6B3B3;	
		}		

		.contenido .modulos .boton{	
			vertical-align: middle;	
			font-size: 13px;
			font-weight: 900;
			margin-left: 195px;
			padding-top: 5px;
			width: 70px;
			height: 20px;
			border: 2px solid;	
			border-radius: 5px;	
			color: #FFFFFF;	
			background-color: #66DDFF;	
			border-color: #66DDFF;
			margin:0 auto 0 auto;
		}

			.contenido .modulos .boton:hover{
					background: #A6B3B3;
					border-color: #A6B3B3;
				}

			.contenido .modulos .boton a{ /* Link no visitado*/
					text-decoration:none; 
					color: #FFFFFF;
					} 				

			.contenido .modulos .boton a:link { /* Link no visitado*/
					text-decoration:none; 
					} 

			.contenido .modulos .boton a:visited { /*Link visitado*/
					text-decoration:none; 
					} 

			.contenido .modulos .boton a:active {/*Link activo*/
					text-decoration:none; 
					background:#A6B3B3;
					} 

			.contenido .modulos .boton a:hover { /*Mause sobre el link*/
					text-decoration:underline; 
					} 
	

/*-----forma--------------------------------*/
	.contact-form { 
		width: 470px;
		height: 400px;
		float: left;
		border: 5px;
		border-style: solid;		
	   	border-color: #f2f2f2;
	   	background-color: #a6b3b3;
	   	text-align: center;
	   	font-family:Arial, Helvetica, sans-serif;	
	   	 position: relative;
	}

		.notice{
			position:absolute;
			left:0px;
			top:175px;
			z-index:1;			
			font-size: 36px; 
			background-color: #66DDFF;
			width: 100%;
			height: 60px;
			color: #FFFFFF;	
			padding-top: 12px;
  			-webkit-animation: fadein 10s; /* Safari and Chrome */
       		-moz-animation: fadein 10s; /* Firefox */
        	-ms-animation: fadein 10s; /* Internet Explorer */
         	-o-animation: fadein 10s; /* Opera */
            animation: fadein 10s;
			opacity: 0;          
			}


		.contact-form .tituloforma{
			width: 100%;			
			height: 50px;	
			font-size: 36px;
			font-weight: 900;
			color:#FFFFFF;	
			padding-top: 10px;
		}

		.contact-form input,     
		.contact-form textarea,   
		.contact-form label { 
		   font-size: 13px; 
		   margin-bottom: 2px;
		   font-family: Arial, san-serif;		   
		} 
  
		.contact-form label {
		   width: 140px;
		   float: left;
		   text-align: right;
		   color:#FFFFFF;
		   margin-left: 10px;	
		}

		.contact-form #nombre, 
		.contact-form #email,  
		.contact-form #empresa,  
		.contact-form #telefono,   
		.contact-form #pais, 
		.contact-form #cp, 		
		.contact-form #comentarios, 								  
		.contact-form textarea { 
		   width: 280px;
		   font-size: 13px; 
		   background: #fff;
		   border: 0;
		   /*-moz-border-radius: 5px; 
		   -webkit-border-radius: 5px; 
		   border-radius: 5px;*/
		   margin-bottom: 10px;
		   margin-right: 20px; 
		   padding: 3px; 
		} 	

		.contact-form input:focus,     
		.contact-form textarea:focus { 
		   background-color: #E5E6E7;
		} 
		 
		.contact-form textarea { 
		   height: 50px;   
		} 

		.contenedor_botones{
			width: 95%;
			text-align: right;
		}
		 
		.contact-form .boton { 	
			font-size: 13px;
			font-weight: 400;
			margin-top: 5px;
			width: 145px;
			height: 23px;
			border: 2px solid;	
			/*border-radius: 5px;*/
			color: #FFFFFF;	
			background-color: #66DDFF;	
			border-color: #66DDFF;
			margin:0 auto 0 auto;
		} 
		 
		.contact-form .boton:hover { 
			background: #666666;
			border-color: #666666;		  
		}
		 
		.contact-form .nota{
			margin-left: 20px;
			width: 450px;
			color: #FFFFFF;  
			padding-top: 10px;
			text-align: left;
			font-size: 13px;

		}

		.contact-form .required { 
			width: 460px;
		   font-weight:normal; 
		   color: #66DDFF;     
		}	
				

/*-------Estilo Pagina nosotros--------------------------------*/

.seccion{		
	padding: 20px;		
	width: 920px;	
	height: 400px;
	margin:0 auto 0 auto;
	background-color: #ffffff;
	border-top: 10px;
	border-color:#f2f2f2;
	border-style: solid;
	text-align: center;
}

	.seccion .contenido_izquierdo{	
		width: 460px;
		height: 400px;	
		float: left;	
	}

		.seccion .contenido_izquierdo .titulo{
			width: 100%;			
			height: 45px;	
			font-size: 36px;
			font-weight: 900;
			color:#666666;
			text-align: left;
		}

		.seccion .contenido_izquierdo hr{
			width: 440px;
			float: left;
		}

		.seccion .contenido_izquierdo .descripcion{	
			color: #a6b3b3;
			text-align: left;
			float: left;
			margin-right: 20px;
		}	



	.seccion .imagen{	
		width: 460px;
		height: 400px;
		float: right;
		margin:0 auto 0 auto;

	}


.contenido_dos_columnas{		
	padding: 20px;		
	width: 920px;	
	height: 400px;
	margin:0 auto 0 auto;
	background-color: #6699b3;
	border-top: 10px;
	border-color:#f2f2f2;
	border-style: solid;
}

	.contenido_dos_columnas .contenido_izquierdo{	
		width: 460px;
		height: 400px;	
		float: left;	
	}

		.contenido_dos_columnas .contenido_izquierdo .titulo{
			width: 100%;			
			height: 45px;	
			font-size: 36px;
			font-weight: 900;
			color:#ffffff;
			text-align: left;
		}

		.contenido_dos_columnas .contenido_izquierdo hr{
			width: 440px;
			float: left;
		}

		.contenido_dos_columnas .contenido_izquierdo .descripcion{	
			color: #ffffff;
			text-align: left;
			float: left;
			margin-right: 20px;
		}			

		.contenido_dos_columnas .contenido_derecho{	
			color: #ffffff;
			text-align: left;
			float: right;
			margin-top: 60px;
			width: 460px;
			height: 400px;		
		}	

/*-------Estilo Pagina catalogo--------------------------------*/

.descripcion_catalogo{	
	width: 960px;
	margin:0 auto 0 auto;
	background-color: #f2f2f2;
}

.descripcion_catalogo p{		
	color:#A6B3B3;
}

.descripcion_catalogo h1{
	font-size: 36px;
	color: #666666;
	text-align: left;
}

.descripcion_catalogo hr{
	padding-right: 30px;
	background-color: #6699B3;
	border-color: #6699B3;
}

.catalogo{		
	width: 960px;
	margin:0 auto 0 auto;
	background-color: #FFFFFF;
	float: left;
}

	.catalogo .producto{		
		width: 470px;
		height: 480px;
		float: left;
		border: 5px solid;
		border-color:#F2F2F2;
	}

	.catalogo .producto .imagen{
		margin: 5px;
		width: 470px;
		height: 260px;
		margin:0 auto 0 auto;
	}

	.catalogo .producto .nombre{
		padding-top: 10px;
		margin: 10px;
		height: 80px;
		padding-right: 20px;
		padding-left: 20px;
		text-align: center;
		font-size: 25px;
		color: #666666;
		background-color: #e6e6e6;
	}

	.catalogo .producto p{		
		padding-left: 20px;
		padding-right: 20px;
		color:#A6B3B3;
	}

	.catalogo .producto .nombre_chico{
		font-size: 14px;
	}

	.catalogo .producto .nombre:hover{
		margin: 10px;
		text-align: center;
		font-size: 25px;
		color: #FFFFFF;
		background-color: #66DDFF;
	}


/*--estilo pagina productos-----------------------------------------------------*/

.contenido_productos{		
	padding: 20px;		
	width: 920px;	
	height: 200px;
	margin:0 auto 0 auto;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

	.contenido_productos .izquierda{	
		width: 460px;
		float: left;		
	}

		.contenido_productos .izquierda .titulo{
			width: 920px;			
			height: 45px;	
			font-size: 36px;
			font-weight: 900;
			color:#666666;
			text-align: left;
		}

		.contenido_productos .izquierda hr{
			width: 440px;
			float: left;
			color: #6699B3;
		}

		.contenido_productos .izquierda .descripcion{	
			color: #A6B3B3;
			margin-right: 20px;
		}			
		

		.contenido_productos .derecha{	
			color: #A6B3B3;
			text-align: left;
			float: right;			
			margin-top: 60px;
			width: 460px;		
		}	
	
.boton_pedido { 
	width: 180px;
	height: 30px;
	font-size: 13px;
	font-weight: 900;
	padding: 5px;
	border: solid;	
	color: #FFFFFF;	
	background-color: #66DDFF;	
	border-color: #66DDFF;
	margin:0 auto 0 auto;
	text-align: center;
} 
		 
	.boton_pedido:hover { 
		background: #666666;
		border-color: #666666;		  
	}	

.centrar{
	width: 940px;
	margin:0 auto 0 auto;
	background-color: #FFFFFF;
	text-align: center;	
	padding: 10px;
}

.tabla_formato{
	display: table;
	border-collapse: separate;
	border-spacing: 2px;	
	border-color:#FFFFFF;
	margin:0 auto 0 auto;	
}

	.tabla_encabezado_azul{
		padding: 6px;
		margin: 3px;	
		color: #FFFFFF;
		font-size:14px;
		background-color: #66CCFF;
		text-align: center;
	}

	.tabla_encabezado_gris{
		padding: 6px;
		margin: 3px;
		color: #FFFFFF;s
		font-size:14px;
		background-color: #66CCFF;
		text-align: center;
	}

	.tabla_contenido{
		color: #A6B3B3;
		background-color: #FFFFFF;	
		text-align: center;	
	}


/*-----------animaciones ----------*/
			@keyframes fadein {
			    from { opacity: 1; }
			    50% { opacity: 1; }
			    to   { opacity: 0; }
			}

			/* Firefox */
			@-moz-keyframes fadein {
			    from { opacity: 1; }
			    50% { opacity: 1; }
			    to   { opacity: 0; }
			}

			/* Safari and Chrome */
			@-webkit-keyframes fadein {
			    from { opacity: 1; }
			    50% { opacity: 1; }
			    to   { opacity: 0; }
			}

			/* Internet Explorer */
			@-ms-keyframes fadein {
			    from { opacity: 1; }
			    50% { opacity: 1; }
			    to   { opacity: 0; }
			}​

			/* Opera */
			@-o-keyframes fadein {
			    from { opacity: 1; }
			    50% { opacity: 1; }
			    to   { opacity: 0; }
			}​