<div class="derechos">
	<div class="sub_derechos">T. +52(81)8421 2315</div>		
	<div class="sub_derechos">Monterrey, N.L. Méx.</div>
	<div class="sub_derechos"><a href="mailto:miguel@tbf.com">miguel@tbf.com</a></div>
	<div class="sub_derechos">Mapa de sitio</div>							
</div>	