	<meta charset="utf-8" />
    <title>Header</title>
<div class="banner">
	<div class="logo"><%= link_to image_tag("logo.png"), root_url %></div>
	<form class="buscador">
		<script>
  (function() {
    var cx = '010772625337884803570:3tp6-7zf_js';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
	</form>
		<div class="contenedor_menu_banner">
			<div class="menu_banner"><%=  link_to 'NOSOTROS', "/nosotros",class: 'blanco' %></div>		
			<div class="menu_banner"><%=  link_to 'PRODUCTOS', "/productos",class: 'blanco'  %></div>	
			<div class="menu_banner"><a href="#" class="blanco">CLIENTES</a></div>		
			<div class="menu_banner"><%=  link_to 'CONTACTO', "/contacto" ,class: 'blanco'  %></div>	</div>									
		</div>	
	</div>
</html>