<div class="barra_login">
	<% unless User.find_by(id: session[:user_id]) %>
		Bienvenido visitante <%= link_to 'Iniciar sesión', login_path %> | Registrarse
	<% else %>
	    Bienvenido <%= session[:uname] %> | <%= link_to 'Logout', logout_path, method: :delete %>
	<%end %>
</div>