<div class="slideshow_fijo"></div>	

<div class="seccion">
	<div class="contenido_izquierdo">
		<div class="titulo">Quiénes somos</div>	
		<hr>			
		<div class="descripcion">
			<p>Somos los únicos distribuideres oficiales Nordlock en México nuestras oficinas se encuentran en la capital de Nuevo León, Monterrey.</p>
			<p>Nuestro producto es un sistema único de aseguramiento de torque que utiliza la tensión en lugar de  la fricción. Son un par de arandelas cada una con levas en su cara que al colocarse una frente a la otra se atoran de tal manera que para poder aflojarlas se necesitará mayor fuerza de la que se utilizó para apretarlas.</p>
		</div>				
	</div>

	<div class="imagen"></div>	
</div>

<div class="contenido_dos_columnas">
	<div class="contenido_izquierdo">
		<div class="titulo">Qué es NORD-LOCK</div>	
		<hr>			
		<div class="descripcion">
			<p>NORD-LOCK es líder mundial en sistemas de aseguramiento de uniones atornilladas. nuestra exclusiva combinación de productos innovadores y experiencia nos permite solucionar los problemas de aseguramiento de uniones atornilladas más dificiles.</p>
			<p>Estamos orgullosos de proporcionar soluciones fiables y de alta calidad que ayudan a los trabajadores en sus tareas diarias y, como resultado ayudan a la empresa a mejorar su balance.</p>
		</div>	
	</div>				
	<div class="contenido_derecho">
		<p><strong>Entre sus ventajas podemos encontrar:</strong></p>
		<ul>
			<li>Consigue la máxima seguridad cuando se bloquean.</li>
			<li>Resiste las pérdidas causadas por vibración.</li>
			<li>Fácil apriete y afloje.</li>
			<li>La función de bloqueo no se pierde al lubricarse.</li>	
			<li>Perfecto bloqueo a bajos y altos niveles de tensión.</li>
			<li>No le afectan las temperaturas.</li>
			<li>100% reuzables.</li>
			<li>Mínimo deterioro de la superficie.</li>					
		</ul>
	</div>								
</div>	

<div class="seccion">
	<div class="contenido_izquierdo">
		<div class="titulo">Video demostrativo</div>	
		<hr>			
		<div class="descripcion">
			<p>Conoce de mejor modo el funcionamiento de las arandelas NORD-LOCK y los beneficios que te ofrece.</p>
		</div>				
	</div>		
	<div class="imagen"></div>				
</div>