  <div class="descripcion_catalogo">
    <h1>Productos</h1>
    <hr>
    <p>La tecnología de bloqueo por cuña Nord-Lock asegura las uniones atornilladas por tensión en vez de por fricción. El sistema se compone de un par de arandelas que tienen unas levas en la cara interior y unos dientes radiables en la cara exterior. <br> Los productos de bloqueo por cuña Nord-Lock bloquean positivamente la fijación de una unión sometida a vibraciones o cargas dinámicas extremas. Descubre que es NORD-LOCK &reg; <a href="/nosotros#productos" class="gris">aquí</a></p>  
  </div>  
  <div class="catalogo">
      <div class="producto">
        <div class="nombre">
          <% @categoria = "arandela_protekt" %>
          <%=  link_to 'ARANDELA DELTA PROTEKT', catalogo_index_path(:category =>@categoria), class: "azul" %></div>        
        <div class="imagen"><img src="/images/productos/productos-deltaprotekt.png"></div>
        <p><strong>Ideal para:</strong> Apicaciones generales de acero.</p>
      </div>
      <div class="producto">
        <div class="nombre">
          <% @categoria = "arandela_316L" %>
          <%=  link_to 'ARANDELA DE ACERO INOXIDABlE 316L', catalogo_index_path(:category =>@categoria), class: "azul" %></div>
        <div class="imagen"><img src="/images/productos/productos-316l.png"></div>
        <p><strong>Ideal para:</strong> Aplicaciones generales de acero inoxidable en entornos libres de cloro 7/o ácidos.</p>
      </div>
      <div class="producto">
        <div class="nombre"><% @categoria = "arandela_254SMO" %><%=  link_to 'ARANDELA DE ACERO INOXIDABlE 254 SMO', catalogo_index_path(:category =>@categoria), class: "azul" %></div>        
        <div class="imagen"><img src="/images/productos/productos-254smo.png"></div>
        <p><strong>Ideal para:</strong> Aplicaciones en agua salada, bombas, cloruros, intercambiadores de calor, centrales nucleares, plantas desalinizadoras, maquinaria para procesar alimentos y equipos médicos.</p>
      </div>
      <div class="producto">
        <div class="nombre"><% @categoria = "arandela_especiales" %><%=  link_to 'ARANDELAS ESPECIALES', catalogo_index_path(:category =>@categoria), class: "azul" %><br /><span class="nombre_chico">*Únicamente bajo pedido</span></div>
        <div class="imagen"><img src="/images/productos/productos-especiales.png"></div>
        <p><strong>Ideal para:</strong> Entornos ácidos, industria química y de propcesos, evaporadores, maquinaria en alta mar. Aplicaciones con altas temperaturas, turbinas de gas, incineradors, turbocompresores.</p>
      </div>                  
  </div>
