<div class="contenido_productos">
	<div class="izquierda">
		<div class="titulo">Arandelas Delta Protekt &reg;</div>	
		<hr>			
		<div class="descripcion">
			<p><strong>Aplicaciones industriales:</strong></p>
			<p>Contstucción, deportes, juegos mecánicos, agricultura.</p>
		</div>	
	</div>				
	<div class="derecha">
		<p><strong>Restricciones:</strong></p>
		    <ul>
				<li>Dureza no mayor a 461HV1 ó 46 Rockwell</li>
				<li>Grado de tornillo hasta 12.9</li>
				<li>Rango de temperatura: -20°C a 200°C</li>								
			</ul>
	</div>								
</div>

	<div class="centrar"><input type="submit" value="REALIZAR PEDIDO" class="boton_pedido" /></div>	
    
    <div class="centrar">
      <table class="tabla_formato" width="900" border="0" cellpadding="0" cellspacing="0">
      <tr class="tabla_encabezado_azul">
        <td>Medida de arandela</td>
        <td>Medida de tornillo</td>
        <td>[mm]</td>
        <td>[mm]</td>
        <td>Grosor T</td>
        <td>Cantidad min.</td>
        <td>Peso Aprox</td>
        <td>No. Articulo</td>
        <td class="tabla_encabezado_griss">Cantidad por pares</td>
      </tr>
      <tr class="tabla_contenido">
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
      </tr>
      <tr class="tabla_contenido">
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
      </tr>
      <tr class="tabla_contenido">
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
      </tr>
      <tr class="tabla_contenido">
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
      </tr>
    </table>
    </div> 

	<div class="centrar"><input type="submit" value="REALIZAR PEDIDO" class="boton_pedido" /></div>	