
	<div class="slideshow"><img src="images/anuncio.png" 	width="960" height="388"></div>	

	<div class="modulos">
		<div class="titulo">Nosotros</div>		
		<div class="imagen"><img src="images/quien.png"></div>	
		<div class="descripcion"><hr>Conoce acerca de nuestra historia como únicos distribuidores oficiales de NORD-LOCK&reg; en México.</div>		
		<div class="boton"><a href="nosotros.html">VER MÁS</a></div>		
	</div>
	<div class="modulos">
		<div class="titulo">Productos</div>		
		<div class="imagen"><img src="images/carrito.png"></div>	
		<div class="descripcion"><hr>NORD-LOCK&reg; es un sistema de máxima tecnología que se encarga de asegurar las uniones atornilladas dpor tensión en vez de por fricción. </div>		
		<div class="boton"><a href="productos.html">VER MÁS</a></div>		
	</div>		
	<div class="modulos">
		<div class="titulo">Clientes</div>		
		<div class="imagen"><img src="images/manos.png"></div>	
		<div class="descripcion"><hr>Ofrecemos un sistema de aseguramiento de torque que proporciona fijación para las uniones atornilladas incluso cuando está expuesto a la vibración severa y a la carga dinámica.</div>	<div class="boton"><a href="clientes.html">VER MÁS</a></div>		
	</div>	

